* {{
    background: rgb({background.rgb});
    background-transparent-7: rgba({background.rgb},0.70);
    foreground: rgb({foreground.rgb});
    foreground-transparent-1: rgba({foreground.rgb},0.06);
    color4: rgb({color4.rgb});
}}